:root {
    --white: #FFFFFF;
    --facebookBlack: #080808;
    --facebookBlue: #0572EF;
    --facebookGreen: #67BA6C;
    --facebookRed: #DE3F4F;
    --pointer: #E30613;
    --facebookLightBlue: #E9F3FE;
    --facebookLightGrey: #E5E6EB;
    --facebookInputGrey: #F1F2F5;
    --facebookLineGrey: #CFD0D4;
    --facebookGrey: #66676B;
    --facebookGreyMedium: #8C939C;
}

body {
    margin: 0;
    font-size: 15px;
    color: var(--facebookBlack);
    background: rgba(240, 242, 245, 1);
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--facebookBlack);
}

img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

svg {
    width: 26px;
    height: 26px;
}

button {
    border: none;
}

/*==================================Container
*/

.container {
    display: flex;
    justify-content: space-between;
    width: 877px;
}

/*==================================Header
*/

.header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    padding: 0 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
}

.header-form {
    padding-left: 8px;
}

.search-box {
    width: 281px;
    height: 40px;
    background: var(--facebookInputGrey);
    border-radius: 100px;
    padding: 12px;
    border: none;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 16px;
    height: 16px;
}

.search-txt {
    display: flex;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 8px;
    color: var(--facebookGrey);
    font-size: 15px;
    line-height: 1.2;
    width: 240px;
    cursor: text;
}

.nav-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    height: 23px;
    width: 23px;
    fill: var(--facebookGrey);
    cursor: pointer;
}

.bgc-icon {
    padding: 15px 40px;
    border-bottom: 3px solid transparent;
}

.bgc-icon:hover {
    border-bottom: 3px solid var(--facebookBlue);
    cursor: pointer;
}

.bgc-icon:hover .icon {
    fill: var(--facebookBlue);
}

.header-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    cursor: pointer;
}

.header-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    border-radius: 25px;
    margin-right: 12px;
    padding: 0 5px;
    transition: .2s;
    opacity: 1;
}

.header-info:hover {
    background-color: var(--facebookLightBlue);
}

.header-ava {
    display: flex;
    align-items: center;
}

.header-name {
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.header-help {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:var(--facebookLightGrey);
    transition: .2s linear;
}

.header-help:hover {
    cursor: pointer;
    background-color: #d0d0d6;
}

.header-help:hover .icon {
    fill: var(--facebookBlue);
}

.icon-profile {
    width: 15px;
    height: 15px;
}

/*================================Intro
*/

.intro {
    background-color: var(--white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.cover-img {
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
    display: flex;
    justify-content: center;
    border-radius: 0 0 8px 8px;
}

.main {
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 17px;
    margin-left: 28px;
}

.industry {
    color: var(--facebookGrey)
}

.btn-title {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    background: var(--facebookBlue);
    border-radius: 6px;
    padding: 10px 105px;
}

.icon-book {
    height: 16px;
    width: 16px;
}

.btn-title > span {
    margin-left: 6px;
    color: var(--white);
}

.intro-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-intro {
    border-top: 1px solid var(--facebookLineGrey);
}

.intro-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bgc {

}

.nav-link {
    padding: 21px 16px;
    border-bottom: 3px solid transparent;
    color: #66676B;
}

.nav-link:hover {
    color: var(--facebookBlue);
    fill: var(--facebookBlue);
    border-bottom: 3px solid var(--facebookBlue);
}

.nav-link-icon {
    width: 9px;
    height: 5px;
}

.intro-btn {
    display: flex;
    align-items: center;
}

.icon-like {
    width: 17px;
    height: 17px;
}

.icon-messenger {
    width: 17px;
    height: 17px;
}

.btn-nav {
    display: flex;
    align-items: center;
    margin-left: 8px;
    width: auto;
    height: 36px;
    border-radius: 6px;
}

.btn-nav:hover {
    background-color: var(--facebookLightBlue);
    color: var(--facebookBlue);
    fill: var(--facebookBlue);
}

/*======================================Wall
*/

.wall {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: 361px 502px;
    grid-template-areas: 'menu posts';
    grid-gap: 15px;
}

.menu {
    display: grid;
    grid-gap: 16px;
    grid-area: menu;

}
/*=====================================About
*/
.about {
    display: grid;
}

.block {
    padding: 15px 0 25px;
    background: var(--white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.block-title {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-all {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: var(--facebookBlue);
}

.map {
    position: relative;
    padding: 15px 15px 0;
    border-radius: 8px;
}

.map-block{
    width: 329px;
    height: 170px;
    background: #333333;
    border-radius: 8px;
}

.map-address {
    padding: 21px 12px 0 21px;
}

.address-block {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: var(--white);
    border-radius: 8px;
}

.pointer-address {
    margin-left: 20px;
    fill: #C4C4C4;
    width: 16px;
    height: 20px;
}

.address-title {
    margin-left: 15px;
}

.map-icon {
    margin: 20px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 230px;
    height: 50px;
}

.pointer-map {
    height: 24px;
    fill: var(--pointer);
}

.icon-info {
    margin-top: 5px;
    display: flex;
    align-self: flex-start;
}

.info-map {
    height: 16px;
}

.about-info {
    margin-top: 20px;
}

.info-list {
    display: grid;
    grid-gap: 15px;
    font-size: 16px;
    line-height: 19px;
}

.description {
    list-style: url("../img/svg/info.svg");
}

.info-like {
    list-style: url("../img/svg/like.svg");
}

.circle-box {
    display: flex;
}

.circle {
    width: 33px;
    height: 33px;
    background: var(--facebookBlue);
    border-radius: 50%;
}

.info-follow {
    list-style: url("../img/svg/follow.svg");
}

.info-checked {
    list-style: url("../img/svg/checked.svg");
}

.info-web {
    list-style: url("../img/svg/website.svg");
}

.info-web > a {
    color: var(--facebookBlue);
}

.info-phone {
    list-style: url("../img/svg/phone.svg");
}

.info-send-message {
    list-style: url("../img/svg/send-message.svg");
}

.info-send-message > a {
    color: var(--facebookBlue);
}

.info-email {
    list-style: url("../img/svg/email.svg");
}

.info-email > a {
    color: var(--facebookBlue);

}

.info-time {
    list-style: url("../img/svg/time.svg");
}

.closed-now {
    color: var(--facebookRed);
}

.info-industry {
    list-style: url("../img/svg/industry.svg");
}

.info-industry > a {
    color: var(--facebookBlue);
}

/*===========================================Photo
*/

.photo {
    display: grid;
}

.photo-block {
    display: grid;
    padding: 15px 15px 0;
    grid-template-columns: repeat(3, 106px);
    grid-template-rows: repeat(2, 106px);
    grid-gap: 5px;
    /*border-radius: 8px;*/

}

.image {
    width: 106px;
    height: 106px;
    background: #333333;
    border: 1px solid #E5E6EB;
}

/*==========================================Video
*/

video {
    display: grid;
}

.video-block {
    padding: 15px 15px 0;
}

.video-img {
    width: 328px;
    background: #333333;
    border-radius: 8px;
}

.video-time {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 27px 21px 0;
    color: var(--white);
    height: 185px;
    cursor: default;
}

.video-description {
    max-width: 328px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.video-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.video-like {
    width: 18px;
    height: 18px;
}

.like-value{
    margin-left: 10px;
}

.video-info {
    margin-top: 5px;
    color: var(--facebookGrey);
}

/*==========================================Transparency
*/

.transparency {
    display: grid;
}

.transparency-title {
    display: flex;
}

.transparency-logo {
    height: 21px;
    padding-right: 10px;
}

.transparency-info {
    margin-top: 10px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: var(--facebookGrey)
}

.transparency-created{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.transparency-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 39px;
    background: var(--facebookInputGrey);
    border-radius: 50%;
    cursor: pointer;
}

.icon-transparency {
    width: 16px;
    height: 19px;
}

.created-text {
    padding-left: 10px;
}

























