:root {
    --white: #FFFFFF;
    --facebookBlack: #080808;
    --facebookBlue: #0572EF;
    --facebookGreen: #67BA6C;
    --facebookRed: #DE3F4F;
    --pointer: #E30613;
    --facebookLightBlue: #E9F3FE;
    --facebookLightGrey: #E5E6EB;
    --facebookInputGrey: #F1F2F5;
    --facebookLineGrey: #CFD0D4;
    --facebookGrey: #66676B;
    --facebookGreyMedium: #8C939C;
}

body {
    margin: 0;
    font-size: 15px;
    color: var(--facebookBlack);
    background: rgba(240, 242, 245, 1);
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--facebookBlack);
}

img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

svg {
    width: 26px;
    height: 26px;
}

button {
    border: none;
}

/*==================================Container
*/

.container {
    display: flex;
    justify-content: space-between;
    width: 877px;
}

/*==================================Header
*/

.header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    padding: 0 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
}

.header-form {
    padding-left: 8px;
}

.search-box {
    width: 281px;
    height: 40px;
    background: var(--facebookInputGrey);
    border-radius: 100px;
    padding: 12px;
    border: none;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 16px;
    height: 16px;
}

.search-txt {
    display: flex;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 8px;
    color: var(--facebookGrey);
    font-size: 15px;
    line-height: 1.2;
    width: 240px;
    cursor: text;
}

.nav-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    height: 23px;
    width: 23px;
    fill: var(--facebookGrey);
    cursor: pointer;
}

.bgc-icon {
    padding: 15px 40px;
    border-bottom: 3px solid transparent;
}

.bgc-icon:hover {
    border-bottom: 3px solid var(--facebookBlue);
    cursor: pointer;
}

.bgc-icon:hover .icon {
    fill: var(--facebookBlue);
}

.header-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    cursor: pointer;
}

.header-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    border-radius: 25px;
    margin-right: 12px;
    padding: 0 5px;
    transition: .2s;
    opacity: 1;
}

.header-info:hover {
    background-color: var(--facebookLightBlue);
}

.header-ava {
    display: flex;
    align-items: center;
}

.header-name {
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.header-help {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:var(--facebookLightGrey);
    transition: .2s linear;
}

.header-help:hover {
    cursor: pointer;
    background-color: #d0d0d6;
}

.header-help:hover .icon {
    fill: var(--facebookBlue);
}

.icon-profile {
    width: 15px;
    height: 15px;
}

/*================================Intro
*/

.intro {
    background-color: var(--white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.cover-img {
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
    display: flex;
    justify-content: center;
    border-radius: 0 0 8px 8px;
}

.main {
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 17px;
    margin-left: 28px;
}

.industry {
    color: var(--facebookGrey)
}

.btn-title {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    background: var(--facebookBlue);
    border-radius: 6px;
    padding: 10px 105px;
}

.icon-book {
    height: 16px;
    width: 16px;
}

.btn-title > span {
    margin-left: 6px;
    color: var(--white);
}

.intro-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-intro {
    border-top: 1px solid var(--facebookLineGrey);
}

.intro-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bgc {

}

.nav-link {
    padding: 21px 16px;
    border-bottom: 3px solid transparent;
    color: #66676B;
}

.nav-link:hover {
    color: var(--facebookBlue);
    fill: var(--facebookBlue);
    border-bottom: 3px solid var(--facebookBlue);
}

.nav-link-icon {
    width: 9px;
    height: 5px;
}

.intro-btn {
    display: flex;
    align-items: center;
}

.icon-like {
    width: 17px;
    height: 17px;
}

.icon-messenger {
    width: 17px;
    height: 17px;
}

.btn-nav {
    display: flex;
    align-items: center;
    margin-left: 8px;
    width: auto;
    height: 36px;
    border-radius: 6px;
}

.btn-nav:hover {
    background-color: var(--facebookLightBlue);
    color: var(--facebookBlue);
    fill: var(--facebookBlue);
}

.wall {

}

.menu {
    display: grid;
    grid-gap: 16px;
    grid-area: menu;

}
/*=====================================About
*/
.about {
    grid-template-rows: repeat(11, 1fr);

}

